---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import CardDetalle from "../components/CardDetalle.astro";
import Container from "../components/Container.astro";
import ExperiencieIcon from "../components/icons/Experiencie.astro";
import CardContainer from "../components/CardContainer.astro";
import Experiencie from "../components/icons/Experiencie.astro";
import Experiencies from "../components/Experiencies.astro";
---

<Layout title="Portafolio de Jose Flores">
  <Hero />
  <Header />
  <Container>
    <div class="md:grid grid-cols-10 gap-4 py-3 min-h-screen">
      <div class="col-span-4 bg-secondary">
        <CardDetalle />
      </div>
      <div class="col-span-6">
        <CardContainer>
          <div class="flex items-center gap-x-3">
            <ExperiencieIcon class="size-6" />
            <h3 class="text-xl font-bold">Experiencia</h3>
          </div>
        </CardContainer>
        <Experiencies />
      </div>
    </div>
    <div class="min-h-screen w-full">Aca irá mas información</div>
  </Container>
</Layout>

<!-- <style>
 
</style> -->
