---
import CardPost from "./CardPost.astro";
---

<CardPost fechaInicio="2019" fechaFin="actualidad">
  <article class="md:w-[400px] flex flex-col gap-y-1.5 py-2">
    <p class="text-regular">
      Mi nombre es <strong class="text-primary/90">Jose Flores</strong
      > pero en el mundo del desarrollo web soy conocido como <strong
        class="text-primary/90">JfloresXc</strong
      > debido a un apodo gamer en mi adolescencia.
    </p>
    <p class="text-regular">
      Inicié mi carrera como <strong class="text-primary/90"
        >desarrollador web</strong
      > en el 2019. Para mí aprender a programar era más un deber debido
      a los mitos universitarios. Dentro de esta fui parte de Comutec,
      una comunidad en la cuál descubrí que debo utilizar más la <strong
        class="text-primary/90">lógica</strong
      > y la <strong class="text-primary/90">creatividad</strong> para
      tener grandes resultados.
    </p>
    <p class="text-regular">
      Hoy en día, luego de 4 años, es una satisfaciente realidad que
      me dirigió a impulsar proyectos tanto personales como laborales.
      Además junto a la <strong class="text-primary/90"
        >IEEE Students Society Untels</strong
      > brindar ponencias, dar cursos, compartir tips para iniciantes como
      amigos y mucho más.
    </p>
  </article>
  <img
    src="/joseponencia.webp"
    class="w-full h-60 object-cover rounded-xl mt-5"
    alt="Imagen de perfil de portafolio"
  />
</CardPost>
