---
import MoonIcon from "./icons/Moon.astro";
import SunIcon from "./icons/Sun.astro";
---

<button
  class="button-dark h-fit text-white px-4 py-2 rounded-md text-nowrap hover:bg-slate-200"
>
  <MoonIcon class="sr-only moon-icon size-5" />
  <SunIcon class="sr-only sun-icon size-5" />
</button>

<script>
  const button = document.querySelector(".button-dark");
  const moonIcon = document.querySelector(".moon-icon");
  const sunIcon = document.querySelector(".sun-icon");
  const html = document.querySelector("html");

  const isDark = window.localStorage.getItem("tema") === "dark";
  establecerTema(isDark);

  function establecerTema(isDark) {
    if (isDark) {
      html.classList.add("dark");
      sunIcon.classList.remove("sr-only");
      moonIcon.classList.add("sr-only");
    } else {
      html.classList.remove("dark");
      moonIcon.classList.remove("sr-only");
      sunIcon.classList.add("sr-only");
    }
  }

  button.addEventListener("click", () => {
    const isDark = window.localStorage.getItem("tema") === "dark";

    if (isDark) {
      window.localStorage.setItem("tema", "light");
    } else {
      window.localStorage.setItem("tema", "dark");
    }

    establecerTema(!isDark);
  });
</script>
