---
import FileCv from "./icons/FileCv.astro";
---

<div
  class="z-20 fixed inset-0 p-8 backdrop-filter flex justify-center items-center
    sr-only"
  id="container-cv"
>
  <iframe class="w-full h-full" src="CV-JOSE-FLORES-CHAMBA.pdf">
  </iframe>
</div>
<button
  id="button-cv"
  class="bg-primary hover:bg-primary/80 transition-all ease-out
   text-white text-regular px-3 py-1.5 rounded-md font-semibold
    flex items-center justify-center gap-x-2 h-fit"
>
  <FileCv class="size-5" />
  <span>CV</span>
</button>

<script>
  const buttonCv = document.getElementById("button-cv");
  const containerCv = document.getElementById("container-cv");

  buttonCv.addEventListener("click", () => {
    containerCv.classList.remove("sr-only");
  });

  containerCv.addEventListener("click", (event) => {
    if ((event.target as HTMLElement).id == "container-cv") {
      containerCv.classList.add("sr-only");
    }
  });
</script>
