---
import CardContainer from "./CardContainer.astro";
import CheckVerify from "./icons/CheckVerify.astro";
import WorldIcon from "./icons/World.astro";

const { fechaInicio, fechaFin } = Astro.props;
---

<CardContainer>
  <div class="flex gap-x-2 items-center">
    <img
      src="/perfil.webp"
      class="h-[40px] rounded-full border-white"
      alt="Imagen de perfil de portafolio"
    />
    <div>
      <h4 class="text-regular font-bold flex gap-x-2 items-center">
        Jose Flores
        <CheckVerify class="size-3.5 text-primary" />
      </h4>
      <span
        class="text-gray-500 text-[13px] flex gap-x-2 items-center"
      >
        {
          fechaInicio && fechaFin
            ? `${fechaInicio} - ${fechaFin}`
            : "Sin fecha"
        }
        <WorldIcon class="size-3.5" />
      </span>
    </div>
  </div>
  <div class="w-full pl-2 pb-1">
    <slot />
  </div>
</CardContainer>
