---
import CardContainer from "./CardContainer.astro";
import CheckVerify from "./icons/CheckVerify.astro";
import WorldIcon from "./icons/World.astro";

const EXPERIENCIAS = [
  {
    titulo: "Desarrollador Web",
    empresa: "Freelance",
    enlaceEmpresa:
      "https://www.linkedin.com/in/alejandro-ram%C3%ADrez-9b3b3b1a3/",
    fechaInicio: "2020-01-01",
    fechaFin: "2020-12-31",
    descripcion:
      "Desarrollo de aplicaciones web y sitios web para clientes de diferentes sectores.",
  },
  {
    titulo: "Desarrollador Web",
    empresa: "Freelance",
    enlaceEmpresa:
      "https://www.linkedin.com/in/alejandro-ram%C3%ADrez-9b3b3b1a3/",
    fechaInicio: "2021-01-01",
    fechaFin: "2021-12-31",
    descripcion:
      "Desarrollo de aplicaciones web y sitios web para clientes de diferentes sectores.",
  },
  {
    titulo: "Desarrollador Web",
    empresa: "Freelance",
    enlaceEmpresa:
      "https://www.linkedin.com/in/alejandro-ram%C3%ADrez-9b3b3b1a3/",
    fechaInicio: "2022-01-01",
    fechaFin: "2022-12-31",
    descripcion:
      "Desarrollo de aplicaciones web y sitios web para clientes de diferentes sectores.",
  },
];
---

{
  EXPERIENCIAS.map(({ titulo, fechaInicio, fechaFin }) => {
    return (
      <CardContainer>
        <div class="flex gap-x-2 items-center">
          <img
            src="/perfil.webp"
            class="h-[45px] w-[45px] rounded-full border-4 border-white
           "
            alt="Imagen de perfil de portafolio"
          />
          <div>
            <h4 class="text-regular font-bold flex gap-x-2 items-center">
              Jose Flores
              <CheckVerify class="size-3.5 text-primary" />
            </h4>
            <span class="text-gray-500 text-[13px] flex gap-x-2 items-center">
              {fechaInicio} - {fechaFin}
              <WorldIcon class="size-3.5" />
            </span>
          </div>
        </div>
      </CardContainer>
    );
  })
}
