---
import Container from "./Container.astro";
import CheckVerify from "./icons/CheckVerify.astro";
import LinkedinIcon from "./icons/Linkedin.astro";
import MailIcon from "./icons/Mail.astro";
import ButtonCV from "./ButtonCV.astro";
import ButtonLink from "./ButtonLink.astro";
import Divider from "../components/Divider.astro";
---

<section id="inicio" class="bg-white dark:bg-slate-800">
  <div class="w-full max-w-4xl mx-auto">
    <img
      class="w-full h-48 md:h-[280px] object-cover object-center md:rounded-md"
      src="/joseponencia.webp"
      alt="Portada de portafolio"
    />
  </div>
  <Container>
    <div
      class="flex justify-between items-center md:items-end flex-col md:flex-row h-full w-full md:h-[90px]"
    >
      <div
        class="flex flex-col md:flex-row gap-x-3 items-start md:items-end"
      >
        <img
          src="/perfil.webp"
          class="size-[150px] md:size-[170px] rounded-full border-4 border-white bg-white
          dark:border-slate-800 dark:bg-slate-800
            -mt-20"
          alt="Imagen de perfil de portafolio"
        />
        <div class="mb-4 md:mb-0">
          <h1
            class="text-2xl md:text-[32px] font-bold flex item-center gap-x-3 pb-2"
          >
            <span>Jose Flores</span>
            <CheckVerify class="size-5 mt-2 md:mb-1 text-[#0966FF]" />
          </h1>
          <p
            class="text-regular font-bold text-slate-600 text-lg dark:text-slate-300"
          >
            Desarrollador Web
          </p>
        </div>
      </div>
      <div
        class="flex flex-wrap justify-center md:justify-normal gap-3"
      >
        <ButtonCV />
        <ButtonLink enlace="https://www.linkedin.com/in/jfloresxc/">
          <LinkedinIcon class="size-5" />
          Linkedin
        </ButtonLink>
        <ButtonLink enlace="mailto:jfloresxc@gmail.com">
          <MailIcon class="size-5" />
          Correo
        </ButtonLink>
      </div>
    </div>
    <Divider />
  </Container>
</section>

<style>
  #inicio {
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(61, 61, 61, 1) 0%,
      rgba(255, 255, 255, 1) 62%
    );
  }
  html.dark #inicio {
    background: #1e293b;
  }
</style>
